<p id="notice"><%= notice %></p>

<h1>ToDoList</h1>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
</style>
</head>
<table style="width:100%">
  <tr>
    <th class="sortable">Title</th>
    <th>Task</th>
    
  </tr>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.task %></td>
        <td><input type="checkbox" name="name1" />&nbsp;</td>
        <td><%= link_to 'Show ', todo %><%= link_to ' Edit ', edit_todo_path(todo) %><%= link_to ' Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
